.btn {
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 10px 20px;
    position: relative;
    overflow: hidden;
    border: 1px solid silver;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.541);
    transition: .2s ease-in-out;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	  transform: scale(1);
    animation: pulse 2s infinite;
      
      &.btn:before {
        content: "";
        background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
        height: 70px;
        width: 50px;
        position: absolute;
        top: -8px;
        left: -75px;
        transform: skewX(-45deg);
      }
      &.btn:hover {
        border: 1px solid green !important;
        background: rgba(0, 128, 0, 0.685) !important;
        color: #fff !important;
      }
      &.btn:hover:before {
        left: 150px;
        transition: .5s ease-in-out;
      }
  }

  @keyframes pulse {
    0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	  70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	  100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
  }